.user-initial{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    /* display: block; */
    /* padding: 10px 15px; */
    letter-spacing: 2px;
    color: white;
    border: none;
    border-radius: 100%;
    background-color: blue ;
    text-align: center;
    width: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}

